/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-family: 'Nunito', sans-serif;
	color: #a7afb2;
}
select:-internal-list-box option:checked,
select:-internal-list-box option:checked:disabled {
	color: white !important;
	background-color: white !important;
}

/* END RESET */

html,
body,
input,
select {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
		'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
body::-webkit-scrollbar,
.rt-tbody::-webkit-scrollbar {
	width: 0;
	color: transparent;
}
h1 {
	font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light',
		'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 24px;
	padding: 0 0 20px;
	margin: 0;
	color: rgb(58, 58, 58);
}
.svgCover {
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 4;
}
.svgCover:hover ~ svg {
	opacity: 1 !important;
}
.svgCover.disabledtrue {
	cursor: default;
	opacity: 0.2;
}
.svgCover.disabledtrue:hover ~ svg {
	opacity: 0.2 !important;
}
.customPagination select,
.customPagination input,
.customPagination span {
	color: #8c979a;
}
select {
	cursor: pointer;
}
.ReactTable .-pagination.nightPagination .-btn:not([disabled]):hover {
	color: #fff;
}
.react-autosuggest__input {
	position: relative;
	float: left;
	display: inline-block !important;
	box-sizing: border-box;
	border: 1px solid #dadedf;
	border-radius: 3px;
	resize: none;
	margin: 8px 8px 8px 0;
	padding: 10px 10px;
	font-size: 14px;
	color: #17252a;
	outline: none;
	z-index: 2;
	background-color: transparent;
}
.react-autosuggest__suggestions-container {
	transform: translateY(9px);
	height: 39px;
	z-index: -1;
}
.react-autosuggest__suggestions-list {
	transform: translate(1px, -44px);
	/* z-index: 1; */
	/* height: 120px;
	overflow-y: hidden; */
	/* position: relative;
	left: 30px;
	top: calc(50% + 21px); */
	/* padding: 20px 0; */
	/* border: 1px solid #dadedf; */
	/* border-radius: 3px;
	background-color: white; */
}
